<template name="blogAdminEdit">
  {{> notifications}}
  <div id="blog-admin">
    <div class="container blog-admin-edit">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>
            <strong>Edit Post</strong>
          </h1>

          {{#with post}}
            <form>
              <div class="row form-group">
                <div class="col-md-12">
                  <label>Title</label>
                  <input tabindex="1" type="text" class="form-control" name="title" placeholder="Title" value="{{title}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label>Tags</label>
                  <input tabindex="2" type="text" class="form-control" name="tags" placeholder="Type in a tag & hit enter" value="{{joinTags tags}}" data-role="tagsinput">
                </div>
                <div class="col-md-6">
                  <label>Category</label>
                  <select class="form-control" name="category" value="{{category}}">
                    <option value="" disabled selected>Select a category</option>
                    <option>Agriculture and Food</option>
                    <option>Animals</option>
                    <option>Armed Forces and National Security</option>
                    <option>Arts, Culture, Religion</option>
                    <option>Civil Rights and Liberties, Minority Issues</option>
                    <option>Commerce</option>
                    <option>Congress</option>
                    <option>Crime and Law Enforcement</option>
                    <option>Economics and Public Finance</option>
                    <option>Education</option>
                    <option>Emergency Management</option>
                    <option>Energy</option>
                    <option>Environmental Protection</option>
                    <option>Finance and Financial Sector</option>
                    <option>Foreign Trade and International Finance</option>
                    <option>Government Operations and Politics</option>
                    <option>Health</option>
                    <option>Housing and Community Development</option>
                    <option>Immigration</option>
                    <option>International Affairs</option>
                    <option>Labor and Employment</option>
                    <option>Law</option>
                    <option>Native Americans</option>
                    <option>Private Legislation</option>
                    <option>Public Lands and Natural Resources</option>
                    <option>Science, Technology, Communications</option>
                    <option>Social Welfare</option>
                    <option>Sports and Recreation</option>
                    <option>Taxation</option>
                    <option>Transportation and Public Works</option>
                    <option>Water Resources Development</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Slug</label>
                  <input type="text" class="form-control" name="slug" placeholder="Slug" value="{{slug}}">
                </div>
                
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label>Meta Description</label>
                  <input type="text" class="form-control" name="description" placeholder="Meta Description" value="{{description}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label>Body</label>
                  <div class="editable" tabindex="3"></div>
                  <button type="submit" class="btn btn-success">
                   Save
                  </button>
                  <a href="{{pathFor 'blogAdmin'}}" class="btn btn-default">
                   Cancel
                  </a>
                </div>
              </div>
            </form>
          {{/with}}

        </div>
      </div>
    </div>
  </div>
</template>
